body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #92D3D3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
th{
    vertical-align: top;
    cursor: pointer;
}
#id,
.App_section_table_td_id{
  cursor: pointer;
}
.root,
.App,
.App_main_section,
.App_section_table_main,
.App_section_table{
  width: 100%;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App_Button_section{
  display: flex;
  justify-content: center;
}
.App_button_section_someButton{
  width: 100px;
  height: 30px;
  background-color: #46FAFB;
  margin: 40px;
}
.App_main_section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App_searchBar_input{
  height: 25px;
}
.App_searchBar_button{
  width: 70px;
  height: 30px;
  background-color: #46FAFB;
}
.App_section_table{
  overflow: auto;
  display: block;
  text-align: center;
}
.App_table_navigationBar{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.Active_navigation_button{
  background-color: #46FAFB;
}

.Load_preview_container{
  width: 200px;
  height: 30px;
  overflow: hidden;
  content: 'Загрузка';
}
.Load_preview{
  display: block;
  width: 300px;
  height: 30px;
  background: repeating-linear-gradient(
    45deg, #46FAFB 0,
    #46FAFB 5px,
    transparent 5px, transparent 10px
  );
  animation: loadBar 5s linear infinite;
}

@keyframes loadBar{
  from{
    margin-right: 100px;
  }
  to{
    margin-left: -100px;

  }

}
